<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home Page</title>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />

<script src="assets/bootstrap/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

	<h1>		Welcome to <span th:text="${appName}">Our App</span>
	</h1>
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<input type="text" class="form-control" id="user_name"
						placeholder="username"></input>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<input type="text" class="form-control" id="ip" th:value="${host}" readonly="readonly"/>
					
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<input type="text" class="form-control" id="port"  th:value="${port}" readonly="readonly"/>
				</div>
			</div>
			<div class="col-sm-2">
				<button type="button" class="btn btn-success" style="width: 100%;">Register</button>
			</div>
			<div class="col-sm-2">
			</div>

		</div>
		<div class="row">
			<div class="col-sm-3 panel panel-default">
				<table class="table table-hover" id="file_table">
					<thead>
						<tr>

							<th>File Names</th>
						</tr>
					</thead>
					<tbody id="file_body">
					</tbody>
				</table>

			</div>
			
			
			<div class="col-sm-6">
			<div class="form-group">
					<input type="text" class="form-control" id="filesearch"
						placeholder="Search File"></input>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
						<th>IP : Port</th>
							<th>File</th>
							
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>localhost:8081,localhost:8082</td>
							<td>Harry Potter</td>
							
						</tr>
						<tr>
							<td>localhost:8081</td>
							<td>Knight Rider</td>
							
						</tr>
						<tr>
							<td>localhost:8081</td>
							<td>Game of Thrones</td>
							
						</tr>
					</tbody>
				</table>
				
				
			</div>
			
			<div class="col-sm-3 panel panel-default">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ip</th>
							<th>port</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>John</td>
							<td>Doe</td>
						</tr>
						<tr>
							<td>Mary</td>
							<td>Moe</td>
						</tr>
						<tr>
							<td>July</td>
							<td>Dooley</td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>

	</div>

	<script src="assets/js/request.js"></script>
</body>
</html>